/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  background-color: #eaebeb;
}

ul {
  list-style: none;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  font-weight: bold;
}

.section {
  margin: 1rem 0;
}

.inline {
  display: inline;
}

.text-justify {
  text-align: justify;
}

/* Utility */
.card {
  background-color: #d6d7d8;
  border: 1px solid #343a40;
  margin: 2rem;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
}
.card .card-header {
  min-width: 175px;
  max-width: 175px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  text-align: center;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: #343a40;
  color: #fff;
}
.card .card-header .header {
  font-size: 1.5rem;
  margin: auto 0;
}
.card .card-content {
  padding: 2rem;
}
.card .card-content .header {
  font-size: 1.3rem;
}
.card .card-content .sub-header {
  font-size: 1.1rem;
}
.card .card-content .date {
  font-size: 1rem;
  font-weight: bold;
}
.card .card-content .degree,
.card .card-content .position {
  font-style: italic;
  text-decoration: underline;
  margin-bottom: 0.5rem;
}
.card .card-content .additional-information {
  width: 100%;
  list-style: circle;
  padding: 0 2rem;
  margin: 0.5rem 0 1rem 0;
}
.card .card-content .additional-information li {
  margin-bottom: 0.3rem;
}
.card .card-content .additional-information li:last-child {
  margin-bottom: 0rem;
}
.card .card-content .additional-information:last-child {
  margin-bottom: 0;
}
@media (max-width: 800px) {
  .card {
    flex-direction: column;
  }
  .card .card-header {
    padding: 1rem 0;
    min-width: 100%;
    max-width: 100%;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0;
  }
}
@media (max-width: 500px) {
  .card {
    margin: 0;
    margin-bottom: 1rem;
    border-radius: 0;
  }
  .card .card-header {
    padding: 0.5rem 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  .card .card-header .header {
    font-size: 1.3rem;
  }
  .card .card-content {
    padding: 2rem 1rem;
    font-size: 0.9rem;
  }
  .card .card-content .header {
    font-size: 1.1rem;
  }
  .card .card-content .sub-header {
    font-size: 1rem;
  }
  .card .card-content .date {
    font-size: 0.9rem;
  }
}
