/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  background-color: #eaebeb;
}

main {
  margin-bottom: 8%;
}

ul {
  list-style: none;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  font-weight: bold;
}

.section {
  margin: 1rem;
}


/* Util */
.inline {
  display: inline;
}

.text-justify {
  text-align: justify;
}

@media()
