nav {
  position: sticky;
  top: 0;
  background-color: #343a40;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
nav #logo {
  font-size: 1.5rem;
  color: #fff;
  font-weight: bold;
}
nav #menu {
  width: 20%;
}
nav #menu ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
nav #menu ul a {
  color: #fff;
}

.current {
  /* TODO: Implement current class to use with current page */
  /* background-color: white; */
}

@media (max-width: 500px) {
  nav {
    justify-content: center;
    flex-direction: column;
  }

  nav #logo {
    margin-bottom: 1rem;
  }

  nav #menu {
    width: 100%;
  }
}
